body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00B7FF;
	text-decoration: none;
}
.topic {
	font-weight:bold;
}
.subtopic {
	font-size:.85rem;
	margin: 0 0 0 10px;
}
.leftColumn {
	width:20%;
	display:inline-block;
	float:left;
}

.rightColumn {
	width:75%;
	display:inline-block;
	float:right;
}
