extends layout

block content
	h1= topicTitle
	if data
		ul
			each val, key in data
				li= key + ': ' + val
	if shiny
		form(action='/shiny' method='POST')
			input(type='text' name='num' label='Find the next 100 shiny numbers starting from:') 
			input(type='submit' value='Generate shiny array')
		ul
			each val in shinyArray
				li= val