extends layout

block content
	h1= title
	p Choose an option
	p
		a(href='/') Home
	p
		a(href='/list') List products
	p
		a(href='/replace') Replace a product
	p
		a(href='/change') Change product priorities
	p
		a(href='/random') Randomize priorities
	ul
		if data
			each val, key in data
				li= key + ': ' + val